* {
    box-sizing: border-box;
    background-color: #faebeb;
}


nav {
    text-align: center;
}

nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #f7a0a0;
    padding: 3% 4% 4%;
    color: inherit;
    text-align: center !important;
    border-radius: 10%;
    width: auto;
}



nav a:hover {
    color: #e10017!important;
    text-decoration: none;


}


.linkit {
    text-decoration: none!important;
    color: inherit;
}
.linkit:hover {
    color: #e10017;
}
a:hover {
    color: #e10017 !important;; 
    text-decoration: underline;
    
}


h1 {
    text-align: center;
    margin-top: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    margin-top: 10%;
    margin-right: 10%;
}

.johdantoteksti {
    text-align: center;
    margin: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.container {
    display: flex;


}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 8%;
    display: flex;
    position: relative;
    margin-top: 20%;

}



.teksti {

    align-items: right;
    float: right;
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
    margin-top: 20%;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    


}

th,
td {
    border: 1px solid #644e4e;
    padding: 10px;
    
   
    

}

th {
    background-color: #d84949;
    color: white;

}

td:hover {
    background-color: #390000;
    color: white;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            max-width: 100%;
            max-height: 100%;
            margin-left: 0;
            margin-top: 0;
        }

        .teksti {
            margin-left: 0;
            margin-top: 0;
        }

    }

    th,
    td {
        font-size: 14px;
    }
}


}