* {
    box-sizing: border-box;
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

.kuva {
    align-items: left;
    float: left;
    max-width: 40px;
    max-height: 80px;
}

.teksti {
    align-items: right;

    float: right;
}